@import "tailwindcss";

@theme {
  --color-wanderlyPrimary: #0ea5e9;
  --color-wanderlySecondary: #0f172a;
  --color-wanderlyAccent: #f59e0b;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #020617; /* ডার্ক ব্যাকগ্রাউন্ড ফিক্সড করা হলো */
  color: #f1f5f9;
  font-family: Arial, Helvetica, sans-serif;
}